main{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.enter{
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 20%;
    background-color: black;
    padding: 1.5rem;
}