<form>
  <section class="overlay-header">
    <span class="overlay-header-title">
      Boletim de Acompanhamento de {{ data.tipo || '-' }}
    </span>

    <div class="overlay-header-data">
      <div class="data">
        <span><strong>DISTRITO SANITÁRIO:</strong> {{ data.distrito || '-' }}</span>
        <span><strong>MÊS:</strong> {{ data.ciclo || '-' }}</span>
        <span><strong>UNIDADE DE SAÚDE:</strong> {{ data.unidade || '-' }}</span>
      </div>

      <div class="data">
        <span><strong>N° DA NOTIFICAÇÃO ATUAL:</strong> {{ data.nu_notificacao_atual || '-' }}</span>
        <span><strong>DATA DA NOTIFICAÇÃO ATUAL:</strong> {{ data.dt_notificacao_atual || '-' }}</span>
        <span><strong>NOME:</strong> {{ data.no_nome_paciente || '-' }}</span>
      </div>
    </div>
  </section>

  <section class="overlay-main">
    <div *ngIf="data.tipo === 'tuberculose'">
      <div class="overlay-main-info">
        <span class="title">Forma</span>
        <span style="text-align: center;">{{ data.tp_forma || '-' }}</span>
      </div>
    </div>

    <div *ngFor="let column of displayedGridColumns" class="overlay-main-info">
      <span class="title">{{ formatTitle(getDisplayLabel(column)) }}</span>
    
      <ng-container *ngIf="getOptions(column).length > 0; else textInput">
        <select [(ngModel)]="data[column]" name="{{ column }}">
          <option *ngFor="let option of getOptions(column)" [ngValue]="option.value"
            [title]="getTooltip(column, option.value)">
            {{ option.label }}
          </option>
        </select>
      </ng-container>
    
      <ng-template #textInput>
        <ng-container *ngIf="column.includes('dt_'); else defaultInput">
          <div style="position: relative; width: 100%; display: flex; justify-content: center;">
            <input [matDatepicker]="picker" [(ngModel)]="data[column]" name="{{ column }}"
              style="width: 50%; height: 36px; text-align: center; background-color: #dddddda6; border-radius: 0.5rem;"
              (focus)="picker.open()" (click)="picker.open()" />
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </ng-container>
        <ng-template #defaultInput>
          <input type="text" [(ngModel)]="data[column]" name="{{ column }}" />
        </ng-template>
      </ng-template>
    </div>
  </section>
  <div class="overlay-container" [ngClass]="getContainerClass()">
    <section class="overlay-comments">
        <div class="comment-field">
            <label>Obs. Distrito</label> 
            <textarea [maxlength]="data.tipo === 'hanseniase' ? 360 : null" [(ngModel)]="data.obs_distrito" name="obs_distrito"></textarea>
        </div>
        <div class="comment-field">
            <label>Obs. Unidade</label>
            <textarea [maxlength]="data.tipo === 'hanseniase' ? 360 : null" [(ngModel)]="data.obs_unidade" name="obs_unidade"></textarea>
        </div>
    </section>

    <section class="overlay-buttons">
        <button class="save-button" (click)="saveChanges()">Salvar</button>
        <button class="close-button" (click)="closeDialog()">Fechar</button>
    </section>
</div>
</form>
