//Variables
$border-radius-value: 1.5rem;

// Tags
header{
    display: flex;
    align-items: center;
    font-size:  small;
    font-weight: bold;
    margin-bottom: 0.5rem
}

th{
    text-align: center;
}

td>*{
    background-color: #FFFFFF;
    padding: 0.6rem;
    margin: 0 1rem;
    border-radius: 0.8rem;
}

th, td{
    text-align: center;
    padding: 1rem 0.3rem;
    font-weight: 600;
    border: none !important;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

// Classes

.boletins-data{
    display: flex;
    flex-direction: column;
    text-align: left;

    >*{
        margin-top: 0.5dvh;
        font-weight: bold;
    }

    .boletins-title{
        font-size: large;
    }

    .boletins-unidade{
        font-weight: 400;
    }
}

.filter{
    padding: 0.6rem;
    background-color: #E5E5E5;
    border-radius: $border-radius-value - 0.5rem;
}

.separate{
    margin: 0.5rem 0 0.5rem 55%;
}

.filter>*{
    margin-top: 0.5rem;
}

.filter-title{
    margin: 0 0.25rem;
    font-weight: 600;
}

.filter-search-bar{
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    padding: 0.25rem;
    background-color: white;
    border-radius: 1rem;
}

.filter-search-bar>*{
    margin-left: 0.5rem;
}

.filter-input-search{
    display: flex;
    flex: 1 1 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    border: none;
    font-size: large;
}

.table-container {
    border-radius: $border-radius-value;
    overflow: hidden; /* Isso garante que os cantos arredondados não sejam cortados */
    position: relative;
  
    table {
        background-color: #E5E5E5;
        overflow-y: auto; /* Aplica o scroll vertical na tabela */
        max-height: 100%; /* Faz com que a tabela respeite a altura do container */
        width: 100%; /* Para garantir que ela se expanda corretamente */
    }
}

.acessar:hover{
    background-color: green;

    *{
       color: white;
    }
}