/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Estilo do fundo escuro do overlay */
.custom-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Estilos personalizados para o diálogo */
.custom-dialog-container {
    border-radius: 1rem;
    background-color: #E5E5E5;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}